<%= form_tag( { action: :items}) do %>
Event Key
<%= text_field_tag :e_key%>
<%= submit_tag '送信' %>
<% end %>

<table border="1">
  <tr>
    <th>Item Name</th>
    <th>Category</th>
    <th>Event Key</th>
    <th>Finder</th>
    <th>Image</th>
  </tr>
  <% if @items != nil%>
  <% @items.each do |i| %>
    <tr>
      <td>
        <%= link_to i.i_name, controller: "home", action: "item_detail", id: i.id %>
      </td>
      <td>
        <%= i.category %>
      </td>
      <td>
        <%= link_to Event.where(e_key: i.e_key).first.e_name, controller: "events", action: "event_detail", e_key: i.e_key %>
      </td>
      <td>
        <%= i.f_name%>
      </td>
      <td>
        <%= image_tag(url_for(action: 'get_image' , id: i.id), size: '100x100')%>
        <%= i.id %>
      </td>
      <% if @a_right == true then%>
        <td>
            <%= button_to "DLEATE",{:action => "delete" , id: i.id ,e_key: i.e_key }, :confirm => "本当に削除しますか？" %>

        </td>
      <% end %>
    </tr>
  <% end %>
  <% end %>
</table>
<br>
<input type="button" onclick="location.href='../upload_page'"value="UPLOAD PAGE">
<input type="button" onclick="location.href='../eventer'"value="EVENTER PAGE">
