<h1>Event Planning Page!!</h1>
<p>Find me in app/views/events/eventer.html.erb</p>

<%= form_for @event, :url => {:action => :plan} do |f| %>

  <div class="field">
    <%= f.label :e_name, "EVENT 名前" %>
    <%= f.text_field :e_name %>
  </div>
  <br>
  <div class="field">
    <%= f.label :e_key, "EVENT KEY " %>
    <%= f.text_field :e_key %>
  </div>
  <br>
  <div class="field">
    <%= f.label :e_detail, "DETAIL    " %>
    <%= f.text_area :e_detail, :cols => 35, :rows=> 8  %>
  </div>
  <br>
  <div class="field">
    <%= f.label :e_location, "LOCATION  " %>
    <%= f.text_field :e_location %>
  </div>
  <br>
  <div class="actions">
    <%= f.submit "MAKE EVENT!!" %>
  </div>
<% end %>
<br>
<input type="button" onclick="location.href='/home/items'"value="ITEMS PAGE">
