<body onload="getLocation()" >
<%= form_for @item, :url => {:action => :create} do |f| %>
<h1> Upload Page!!</h1>
  <div class="field">
    <%= f.label :i_name, "Item 名前" %>
    <%= f.text_field :i_name %>
  </div>
  <br>
  <div class="field">
    <%= f.label :category, "Category" %>
    <%= f.text_field :category %>
  </div>
  <br>
  <div class="field">
    <%= f.label :e_key, "Event Key" %>
    <%= f.text_field :e_key %>
  </div>
  <br>
  <div class="field">
    <%= f.label :i_detail, "Item detail" %>
    <%= f.text_area :i_detail, :cols => 35, :rows=> 8 %>
  </div>
  <br>
  <div class="field">
    <%= f.label :pic_data, "Picture" %>
    <%= f.file_field :pic_data,accept: "image/jpeg" %>
  </div>
  <br>
  <div class="field">
    <%= f.hidden_field :pos_x %>  
  </div>
  <br>
  <div class="field">
    <%= f.hidden_field :pos_y %>  
  </div>
  <br>
  <div class="actions">
    <%= f.submit "SEND!!" %>
  </div>
<% end %>
<br>
<input type="button" onclick="location.href='/home/items'"value="ITEMS PAGE">

<script>
function getLocation() {
  if(navigator.geolocation) {
    navigator.geolocation.getCurrentPosition(
      function(position) {
        var lat = position.coords.latitude;
        var lng = position.coords.longitude;
        document.getElementById("item_pos_x").value = lat;
        document.getElementById("item_pos_y").value = lng;
      },
      function(error) {
        var errorInfo = [
          "原因不明のエラーが発生しました…。",
          "位置情報の取得が許可されませんでした…。",
          "電波状況などで位置情報が取得できませんでした…。",
          "位置情報の取得に時間がかかり過ぎてタイムアウトしました…。"  
        ];
        var errorNo = error.code;
        var errorMessage = "[エラー番号：" + errorNo + "]\n" + errorInfo[errorNo];
        alert(errorMessage);
      },
      {
        "enableHighAccuracy": false,
        "timeout": 8000,
        "maximumAge": 2000,
      }
    );
  } else {
    alert("Geolocation is not supported by this browser.");
  }
}
</script>
