<%= form_for @item, :url => {:action => :create} do |f| %>

  <div class="field">
    <%= f.label :i_name, "Item 名前" %>
    <%= f.text_field :i_name %>
  </div>

  <div class="field">
    <%= f.label :category, "Category" %>
    <%= f.text_field :category %>
  </div>

  <div class="field">
    <%= f.label :e_key, "Event Key" %>
    <%= f.text_field :e_key %>
  </div>

  <div class="field">
    <%= f.label :pic_data, "Picture" %>
    <%= f.file_field :pic_data,accept: "image/jpeg" %>
  </div>
 
  <div class="actions">
    <%= f.submit "登録する" %>
  </div>
<% end %>
